.text-area {
    width: 200px;
    margin: 50px auto;
    .title {
        font-size: 30px;
        color:blueviolet;
        font-weight: bolder;
        text-align: center;
    }
    .content {
        font-size: 16px;
        color:black;
        font-weight:bold;
        text-align: center;
    }
}





