.forgot-password-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        display: flex;
        width: 400px;
        height: 400px;
        flex-direction: column;
        position: relative;
        .text {
            margin-top: 10px;
        }
        .input-mail {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .input {
                width: 100%;
                position: relative;
                border: 1px solid rgba(0,0,0,0.5);
                transition: all 0.5s linear;
                margin-left: 10px;
            }
            .input:hover {
                border-radius: 25px;
                transition: all 0.5s linear;   
                border: 1px solid rgba(93, 43, 211, 0.5); 
            }
            .icon {
                background-image: url('../images/mail.png');
                background-size: 100% 100%;
                width: 20px;
                height: 20px;
            }
        }
        .input-account {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .input {
                width: 100%;
                position: relative;
                border: 1px solid rgba(0,0,0,0.5);
                transition: all 0.5s linear;
                margin-left: 14px;
            }
            .input:hover {
                border-radius: 25px;
                transition: all 0.5s linear;   
                border: 1px solid rgba(93, 43, 211, 0.5); 
            }
            .icon {
                background-image: url('../images/user.png');
                background-size: 100% 100%;
                width: 20px;
                height: 20px;
            }
        }
       
    }
    .btn-confirm {
        background-color: lightcyan;
        border-radius: 5px;
        width: 400px;
        height: 30px;
        position: absolute;
        top: 160px;
    }
    
}